<div class="ggbottow">
    <div class="left">

    </div>
    <div class="right">

    </div>
</div>
<div class="wrapper1083 back_fff ofHidden">
    <div class="indexTitle b-1-f4f4f4 t-1-f4f4f4" data-unuse="1">
        <span class="c999">{$site.site_name}有部分资源来源于互联网，图片版权归原作者所有，若有侵权问题敬请告知，我们会立即处理.本站图片资源如果没有特殊声明，<span
                style="font-weight:bold">一律禁止任何形式的转载和盗用.</span></span>
        <div style="display:none;" class="itMore" data-unuse="1">欢迎加入我们! 相关合作请联系{$site.email}</div>
    </div>
</div>
<div class="footer" data-unuse="1">
    <p><a href="{$site.pc_url}/map/">网站地图</a></p>
    <p>© 2015 ({$site.site_name}) 59pic<a href="{$site.pc_url}">美女图片</a> 版权所有 {$site.icp}</p>
</div>
<div id="cbbfixed" style="bottom: 266px;_bottom: 0px;">
    <div class="dingyue">
        <a href="javascript:;"></a>
        <div class="qqdingyue">暂停订阅</div>
    </div>
    <a id="mweb" href="{$site.pc_url}"><span></span>
        <div style="display: none;"></div>
    </a>
    <div class="jianyi"><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email={$site.email}"
                           target="_blank"></a></div>
</div>
<div id="back-to-top" class="back-to-top" style="display: none;"><a target="_self" href="javascript:void(0);"
                                                                    id="back-to-top-btn">&nbsp;</a></div>
<script type="text/javascript" src="__JS__/IE6Top.js"></script>
<script src="__JS__/picbase.js"></script>

</body>
</html>