    <meta http-equiv="Cache-Control" content="no-siteapp">
    <script src="__JS__/hm.js"></script>
    <link href="__CSS__/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="__CSS__/iconfont.css">
    <script type="text/javascript" src="__JS__/jquery.min.js"></script>
    <script type="text/javascript" src="__JS__/wrf_Marquee.min.js"></script>
    <script src="__JS__/superslide.2.1.js"></script>
    <script type="text/javascript" src="__JS__/imglazyload.js"></script>
    <script type="text/javascript" src="__JS__/jquery.banner.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#zxmmtp_box01").wrf_Marquee({
                auto: 0,
                img: "#zxmmtp_box01 li",
                ltbtn: "#zxmmtp_box01 .preBtn",
                rbbtn: "#zxmmtp_box01 .nextBtn"
            });
            $("#zxmmtp_box02").wrf_Marquee({
                auto: 0,
                img: "#zxmmtp_box02 li",
                ltbtn: "#zxmmtp_box02 .preBtn",
                rbbtn: "#zxmmtp_box02 .nextBtn"
            });
            $("#zxmmtp_box03").wrf_Marquee({
                auto: 0,
                img: "#zxmmtp_box03 li",
                ltbtn: "#zxmmtp_box03 .preBtn",
                rbbtn: "#zxmmtp_box03 .nextBtn"
            });
            $("#zxmmtp_box04").wrf_Marquee({
                auto: 0,
                img: "#zxmmtp_box04 li",
                ltbtn: "#zxmmtp_box04 .preBtn",
                rbbtn: "#zxmmtp_box04 .nextBtn"
            });
            //$("#show_box").wrf_Marquee({auto:1,img:"#show_box li",btn:"#show_box .num_box span",mstep:5});
        });
    </script>
</head>