<div class="footer">
    <p class="cl">
        <a href="javascript:;">意见反馈</a>
    </p>
    <p>Powered by © 2018 {$site.m_url}</p>
</div>
<!-- 侧边栏 -->
<div class="side">
    <ul class="main-nav cl">
        <li><a href="{$site.pc_url}" class="login-button  active"><span>本站首页</span></a></li>
        <li><a href="/brandlistall/meinvdalei"><span>美女大全</span></a></li>
        <li><a href="/brandlistall/mingxingmote"><span>明星模特</span></a></li>
        <li><a href="/brandlistall/jigou"><span>品牌大全</span></a></li>
        <li><a href="/brand/newest"><span>最新专辑</span></a></li>
    </ul>
</div>
<!-- 侧边栏 END -->
</body>
</html>