    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="__CSS__/base.css" />
    <link rel="stylesheet" href="__CSS__/iconfont.css" />
    <link rel="stylesheet" href="__CSS__/wap-work.css" />
    <script type="text/javascript" src="__JS__/jquery.min.js"></script>
    <script src="__JS__/wap-work.js"></script>
    <script src="__JS__/touchslider.dev.js"></script>
    <script type="text/javascript" src="__JS__/imglazyload.js"></script>
</head>