<!DOCTYPE html>
<html lang="en">
<head>
    <title>{$brand.title}</title>
    <meta name="keywords" content="{$brand.keyword}">
    <meta name="description" content="{$brand.description}">
{include file="index@pub/head" /}

<body>
{include file="index@pub/nav" /}

<div class="mod-movie-wrap">
    <div class="movie-poster-img" style="background:url(&#39;__UPLOAD__/brand/{$brand.nick_name}/banner.jpg&#39;) no-repeat right top;"></div>
    <div class="movie-mask"></div>
    <div class="mod-movie">
        <h1 class="title" id="12518175">
            <div class="lemmaTitleH1"><span style="vertical-align:middle;font-size:34px;line-height:120%;">{$brand.brand_name}</span></div>
        </h1>
        <p class="intro-summary-p">{$brand.brand_des}</p>
        <p class="intro-p intro-card-p">
            <label>专题编辑</label>
            <span>{$site.site_name}</span>
        </p>
        <p class="intro-p intro-card-p">
            <label>编辑时间</label>
            <span>{$brand.update_time}</span>
        </p>
        <p class="intro-p intro-card-p">
            <label>收录套图</label>
            <span>{$count}</span>
        </p>
    </div>
    <div class="poster-foot">
        <div class="foot-wrap">
            <div class="bk_title_body">
                <div class="vote_btn vote_btn_1">
                    <div class="vote_icon"></div>
                    <span class="vote_num" style="display: inline;"></span>
                </div>
                <script>
                    var num = Math.floor(Math.random()*1000);
                    $('span.vote_num').html(num);
                </script>
            </div>
        </div>
    </div>
</div>

<div class="poster-nav">
    <span class="homes">相关推荐</span>
    {volist name="brands" id="vo"}
    <a href="/brand/{$vo.id}"><span>{$vo.brand_name}</span></a>
    {/volist}
</div>
<div class="index_listc" id="load-img">
    <div class="pos__1 camWholeBox borderTop">
        <ul class="picpos__1 layout camWholeBoxUl">
            {volist name="taotus" id="vo"}
            <li class="min-h-imgall">
                <a href="/taotu/{$vo.id}" class="itemimg" title="{$vo.title}" target="_blank">
                    <img src="__UPLOAD__/taotu/{$vo.id}/thumb.jpg" width="" height="" alt="{$vo.title}" style="display: inline;">
                    <div class="itemset-num"><span class="num">{$vo.count}</span><span class="text">张</span></div>				</a>
                <div class="camLiCon">
                    <div class="camLiTitleC hot">
                        <p><a href="/taotu/{$vo.id}" title="{$vo.title}" target="_blank">{$vo.title}</a></p>
                    </div>
                    <div class="camLiDes">
                        <span class="mr3"><i class="icon iconfont fontico"></i>{$vo.update_time}</span>
                    </div>
                </div>
            </li>
            {/volist}
        </ul>
    </div>
    {$taotus->render()}
</div>
<!--广告双拼底部-->
{include file="index@pub/foot" /}