{include file="admin@pub/head" /}

<body data-type="widgets">
<script src="__JS__/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    {include file="admin@pub/nav" /}
    <!-- 侧边导航栏 -->
    {include file="admin@pub/menu" /}

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="container-fluid am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>
                        添加套图
                        <small>brand edit</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">添加套图</div>
            </div>
            <div class="widget-body am-fr">
                <form action="{:url('taotu/addsave')}" enctype="multipart/form-data" method="post" class="am-form tpl-form-line-form">
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">添加套图 <span
                                class="tpl-form-line-small-title">title</span></label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="title" value="">
                            <small>输入套图名称</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">套图标签 <span
                                class="tpl-form-line-small-title">tags</span></label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="tags" value="">
                            <small>输入套图标签，多个标签用|分隔</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">套图来源 <span
                                class="tpl-form-line-small-title">source url</span></label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" name="source_url" value="">
                            <small>输入套图来源，用于采集</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">缩略图 <span
                                class="tpl-form-line-small-title">thumb image</span></label>
                        <div class="am-u-sm-9">
                            <input type="file" class="tpl-form-input" name="thumb" />
                            <small>图片最大100kb，只支持jpg格式</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <input type="submit" value="保存" class="am-btn am-btn-primary tpl-btn-bg-color-success">
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
</div>
{include file="admin@pub/foot" /}