<html>
<head>
    <meta charset="UTF-8">
    <title>{$taotu.title}</title>
    <meta name="keywords" content="{$taotu.title}">
    <meta name="description" content="{$site.site_name}为您提供{$taotu.title}<图片内容，看高清好看的美女图片，就上{$site.site_name}。">
{include file="index@pub/head" /}
<script language="javascript" src="__JS__/showpage.js" type="text/javascript"></script>

<div class="container mt20">
    <div class="longConWhite">
        <div class="show_6_1_1714 show-topmbx">您现在的位置 &gt; <a href="{$site.pc_url}">首页</a> &gt; {$taotu.title}
        </div>
        <div class="swp-tit layout" slide-type="title"><h1>
            <a href="">{$taotu.title}</a>
        </h1></div>
        <div class="workContentWrapper">
            <div class="swp-tool">
                <div class="swpt-extra">
                    <span class="swpt-tip">支持<i></i>键翻阅图片</span>
                    <div class="swpt-full-wrap">
                        {volist name="photos" id="vo"}
                        <a href="{$vo.img_name}"
                           target="_blank" class="swpt-full-tip"><i></i>查看原图</a>
                        {/volist}
                    </div>

                </div>
                <em class="swpt-time" id="time">更新：{$taotu.create_time}&nbsp;&nbsp;&nbsp;&nbsp;编辑：{$site.site_name}
                    <a href="{$site.pc_url}">美女图片</a>&nbsp;&nbsp;&nbsp;&nbsp;点击：<span id="hits">7167</span></em>
            </div>
            <div class="show_6_1_1714 workShow">
                <ul>
                    {volist name="photos" id="vo"}
                    <li>
                        <img id="bigImg"
                             src="{$vo.img_name}"
                             alt="{$taotu.title}"
                             onmouseover="SouutuIMGupNext(this)" class="mb10" title=""
                             style="">
                        <a href="" id="prev" class="swp-btn swp-prev"
                           title="上一张"><i></i></a>
                        <a href="" id="next" class="swp-btn swp-next on"
                           title="下一张"><i></i></a>
                    </li>
                    {/volist}
                </ul>
                <!--分页-->
                {$photos->render()}
                <script>
                    $('#prev').attr('href',$('#prevPage').attr('href'));
                    $('#next').attr('href',$('#nextPage').attr('href'));
                </script>

            </div>
        </div>

        <div class="workNav layout">
            <div class="workNavRight"><span>美女人气</span><br>
                <b id="biggup"></b>
                <div class="workNavRightPop">
                    <table>
                        <tbody>
                        <tr>
                            <td><span class="c999">浏览：</span><span id="hits2"></span></td>
                            <td><span class="c999">收藏：</span><span id="collection"></span></td>
                            <td><span class="c999">分享：</span><span id="share"></span></td>
                        </tr>
                        <script>
                            $('#biggup').text(Math.floor(Math.random()*10));
                            $('#hits2').text(Math.floor(Math.random()*10000));
                            $('#collection').text(Math.floor(Math.random()*1000));
                            $('#share').text(Math.floor(Math.random()*100));
                        </script>
                        </tbody>
                    </table>
                </div>
            </div>
            <ul class="workNavUl layout">
                <li>
                    <a class="tlist" href="" onclick="myFavoriteFunc(0,3,1930851)">
                        <img src="__IMG__/starW.png" alt="分享图片">
                        <span class="rightWn"><b>分享图片</b><br><span>SHARE PHOTOS</span></span>
                    </a>
                </li>
                <li class="tags">
                    <a class="tlist" href="" onclick="feedBackWindow(1930851,3)">
                        <img src="__IMG__/reportW.png" alt="关键字">
                        <span class="rightWn"><b>关键字</b><br><span>TAGS</span></span>
                    </a>
                    <span class="tags-list">
                        {volist name="brands" id="vo"}
					    <a href="/brand/{$vo.id}" target="_blank">{$vo.brand_name}</a>
                        {/volist}
					</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="indexTitle b-1-f4f4f4" data-unuse="1">
        <span class="indexTitleT f20 yh c666">美女专辑推荐</span>
        <div class="itMore" data-unuse="1">
            <a href="/brandlistall/meinvdalei" class="c000" target="_blank">更多美女专辑</a>
        </div>
    </div>
    <div class="workOtherImg">
        {volist name="brands" id="vo"}
        <a href="/brand/{$vo.id}" title="" target="_blank" alt="{$vo.brand_name}">
            <img src="__UPLOAD__/brand/{$vo.nick_name}/thumb.jpg" width="100" height="100" alt="{$vo.brand_name}">
            <span class="tit" style="bottom: -23px;">{$vo.brand_name}</span>
        </a>
        {/volist}
    </div>
</div>
<div class="wrapper1083 show_box_01" id="load-img">
    <div class="lm_name"><i></i>
        <h2>相关推荐</h2></div>
    <div class="show_box_1083">
        <div class="box">
            <ul class="showbox">
                {volist name="taotus" id="vo"}
                <li class=""><a href="/taotu/{$vo.id}" target="_blank">
                    <img src="__UPLOAD__/taotu/{$vo.id}/thumb.jpg" alt="{$vo.title}"
                        style="display: inline;"></a><em class="bg"></em>
                    <h3 class="txt"><a href="/taotu/{$vo.id}" target="_blank">{$vo.title}</a></h3>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
</div>
{include file="index@pub/foot" /}